html {
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

button {
  background-color: black;
  color: white;
  border: 2px solid #e22400;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
}

input[type="text"] {
  height: 2px;
  width: 480px;
  padding: 10px;
  border: 2px solid #e22400;
  border-radius: 5px;
}

a {
  color: #e22400;
  text-decoration: none;
}

img {
  width: 400px;
  height: 200px;
}
